html,body{
	background-color: #FFF9EE;;
	height:100%;
}
#heading{
	min-width:100%;
	height: 70px;
	background-color:#E5E5E5;
	text-align:center;	
	position:absolute;
	top: 0;
	left:0;
}
#heading > h1 {
	text-decoration: none;
	color:#C11B17;
}

#container {
	width:100%;
	position:absolute;
	top:70px;
	left:0;
	background-color: #FFF9EE;
}
#control-panel{
	background-color:white;
	width:55%;
	position:absolute;
	left:0;
	border-right: 2px solid #E5E5E5 ;
	margin:50px 30px;
}	
#dashboard{
	width:40%;
	float:right;
	text-align:center;
	margin-top: 20px;
}

#sticker {
/* 	position:absolute; */
	height: 500px;
	width: 350px;	
	margin: auto auto;
}
#sticker.fixit {
	position:fixed;
	
}
#pass {
	position:relative;
	height: 430px;
	width: 300px;	
	background-color: #fff;
	-moz-border-radius: 0.8ex;
	-webkit-border-radius: 0.8ex;
	border-radius: 0.8ex;		
	margin: 0 auto;
}
#headers {
	height: 50px;
	padding-bottom: 3px;
	border-bottom: 1px solid #F0F0F0;
}

#headers > *{
	display:inline;
	height:inherit;
}
#headers > img {
	position:absolute;
/* 	top:5px; */
	left:10px;
/* 	margin:0; */
/* 	float:left; */
/* 	margin:left: 20px; */
	min-height: 30px;
	min-width: 30px;
}
#headers > h4 {
	position:relative;
	top:15px;
	left:0px;
	font-family: "Verdana'', sans-serif;
	font-size: 24px;
}

#control-panel > * {
	margin: 10px 20px 5px 20px;
}

#control-panel > h1,h2,h3 {
	border-bottom: 1px solid black;
}

