<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Dashboard App</title>
<link href="assets/bootstrap.min.css" rel="stylesheet">
<link href="assets/base.css" rel="stylesheet">
<script src="assets/jquery.min.js"></script>
<script>
$(function(){
	$(window).scroll(function(ev){
		win_top = $(window).scrollTop();
		div_top = $('#dummy-sticker').offset().top;
		if(win_top  > div_top){
			of = $('#sticker').offset();
			$('#sticker').addClass('fixit');
			$('#sticker').offset({left:of.left,top:win_top});
			//alert(of.top);
		}else {
			$('#sticker').removeClass('fixit');
		}
	});
});
</script>
</head>
<body>
<div id="heading">
	<h1>Dashboard Application with Backbone.js</h1>
</div>
<div id="container">
	<div id="control-panel">
		<h3>General Settings</h3>
		<div class="input-prepend">
		  <span class="add-on">Name of Design</span>
		  <input class="span2" id="design-name" type="text" placeholder="Name for design here">
		</div>
		<div class="input-prepend">
		  <span class="add-on">Background Color</span>
		  <input class="span2" id="color" type="text" placeholder="e.g. #FFFFFF">
		</div>
		<div id="header_controls">
			<h3>Header Field Settings</h3>
			<div class="input-prepend">
			  <span class="add-on">Logo Text</span>
			  <input class="span2" id="logo-name" type="text" placeholder="e.g. Starbucks">
			  	<a class="btn left"><i class="icon-chevron-left"></i></a>
    			<a class="btn up"><i class="icon-chevron-up"></i></a>
    			<a class="btn down"><i class="icon-chevron-down"></i></a>
    			<a class="btn right"><i class="icon-chevron-right"></i></a>
    			<a class="btn fontplus"><i class="icon-plus"></i></a>
    			<a class="btn fontminus"><i class="icon-minus"></i></a>
			</div>
			<div class="input-prepend">
			  <span class="add-on">Font Color</span>
			  <input class="span2" id="colorchooser" type="text" placeholder="e.g. #FFFFFF">
			</div>
			<div>
	<!-- 		<form class="form-i"> -->
				<label class="checkbox"><input id="checkbox_img" type="checkbox">Include Logo Image</label>
				<div class="input-prepend">
			  	<span class="add-on">Image URL</span>
			  	<input class="span3" id="logo-image" type="text" placeholder="http://example.com/image.png">
			  	<a class="btn" id="logo_apply">Apply</a>
				</div>
	<!-- 		</form> -->
			</div>
		</div>
		<div id="primary_controls">
			<h3>Primary Field Settings</h3>
			<div class="input-prepend">
			  <span class="add-on">Offer: </span>
			  <input class="span4" id="offer" type="text" placeholder="e.g. Entry Pass">
			</div>
			<div class="input-prepend">
			  <span class="add-on">Item Description: </span>
			  <input class="span3" id="item" type="text" placeholder="e.g. for one person only">
			</div>
			<label class="checkbox"><input id="checkbox_thumb" type="checkbox">Add a thumbnail</label>
				<div class="input-prepend">
			  	<span class="add-on">Image URL</span>
			  	<input class="span3" id="thumbnail" type="text" placeholder="http://example.com/thumb.png">
			  	<a class="btn" id="thumb_apply">Apply</a>
				</div>
			<br>
			<button class="btn btn-large btn-block btn-primary" id="save" type="button">Save</button>	
		
		</div> 
				
		
		
	</div>
<!-- 	end of Control Panel -->
<!-- 	Start of Dashboard -->
	
	
	<div id="dashboard">
		<div id="dummy-sticker"></div>
		<div id="sticker">			
			<p id="nameofdesign">Design Name</p>
			<div id="pass">
				<div id="headers">
					<img src="" id="logo">
					<h4>Logo Text Here</h4>
				</div>
				<div id="primary">
					<div id="only_text">
						<h3 id="offer_view">Sample Offer</h3>
						<p id="item_view">Item description</p>
					</div>				
				</div>
				<div id="secondary"></div>
				<div id="auxiliary"></div>
				<div id="barcode">
				<img src="assets/bc.gif" alt="A sample barcode">
				</div>
			</div>				
		</div>
	</div>
</div>
	<script type="text/template" id="sec-template">
		<label class="property"><%= text %></label>
		<label class="value"><%= text %></label>
	</script>
	<script type="text/template" id="thumb_template">
			<img id="thumbnail_view" src="<%=thumbnail %>">
	</script>
	<script src="assets/jquery.min.js"></script>
	<script src="js/lib/json2.js"></script>
	<script src="js/lib/lodash.min.js"></script>
<!-- 	<script src="js/lib/underscore-min.js"></script> -->
	<script src="js/lib/backbone-min.js"></script>	
<!-- 	<script src="js/lib/backbone-localstorage.js"></script> -->
	<script src="js/models/dashboard.js"></script>
	<script src="js/views/controlpanel.js"></script>
	<script src="js/views/view.js"></script>
	<script src="js/routers/workspace.js"></script>
	<script src="js/app.js"></script>
</body>
</html>